@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', Verdana, sans-serif;
  font-size: 100%;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  background-color: #EEEEE4;
  display: flex;
  justify-content: center;
}

.calculator {
  background-color: #FFFFFF;
  box-shadow: 0 0 5px #AAAAAA;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.display {
  aspect-ratio: 90 / 30;
  width: 90%;
  border-bottom: 1px solid #D5D5D5;
  font-size: 150%;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button {
  aspect-ratio: 1 / 1;
  width: 20%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 2.5%;
  transition: 0.1s;
}

.operator,
.number {
  background-color: #FFFFFF;
}

.operator {
  color: #EA592A;
}

.operator:hover,
.number:hover {
  background-color: #EEEEE4;
}

.operator:active,
.number:active {
  background-color: #DDDDD4;
}

.equals {
  background-color: #FF733C;
  color: #FFFFFF;
}

.equals:hover {
  width: 17%;
  margin: 4%;
}

.equals:active {
  background-color: #EA592A;
}